.player-buttons-wrapper {
    background-color: black;
    display: flex;

}

.player-button i {
    color: #FFFFFF;
    
}

.player-button {
    background-color: transparent;
    border-style: none;
    font-size: 15pt;
}
.player-buttons-wrapper > button{
    margin-right: 4px;
    margin-top: 9px;
    margin-bottom: 9px;
    margin-left: 4px;
}

.player {
    display: flex;
    flex-flow: column wrap;
    box-shadow: 0 0 20px rgba(0,0,0,1);
}

.video-container{
    flex-grow: 1;
    
}

.fullscreen-button{
    justify-content: flex-end;
}

.namespaces-button{
    flex-grow: 1;
}