.player-buttons-wrapper {
    background-color: black;
    display: flex;

}

.player-buttons-wrapper i {
    color: #FFFFFF;
    
}

.player-buttons-wrapper button {
    background-color: transparent;
    border-style: none;
    font-size: 4;
    line-height: 1.5;
    margin: 5px;
}

#player {
    display: flex;
    flex-flow: column wrap;
    box-shadow: 0 0 20px rgba(0,0,0,1);
}

.js-video-container{
    flex-grow: 1;
    
}

.js-fullscreen-button{
    justify-content: flex-end;
}

.empty{
    flex-grow: 1;
}